@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Colors */
/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption,
dialog {
  margin: 0;
  padding: 0;
}

body,
textarea,
button,
img,
fieldset,
dialog {
  border: none;
}

textarea {
  resize: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

u,
ins,
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/* Normalize */
input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

body[data-sub=subPage] {
  background-color: #e6e6e6;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.btn-menu, .btn-search, .btn-prev {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.hdeader .btn-menu, .hdeader .btn-search, .hdeader .btn-prev {
  width: 3.2rem;
  height: 3.2rem;
}

.btn-prev {
  background: url(../images/ico_prev.svg) no-repeat center;
}

.btn-search {
  background: url(../images/ico_search.svg) no-repeat center;
}

.btn-menu {
  background: url(../images/ico_menu.svg) no-repeat center;
}

.btn-more {
  font-size: 1.2rem;
  color: #989898;
  font-weight: 600;
}

.btn-home {
  background: url(../images/ico_nav_home.svg) no-repeat center;
}

.btn-map {
  background: url(../images/ico_nav_map.svg) no-repeat center;
}

.btn-bookmark {
  background: url(../images/ico_nav_bookmark.svg) no-repeat center;
}

.btn-user {
  background: url(../images/ico_nav_user.svg) no-repeat center;
}

.search__filter {
  width: 5.2rem;
  border-radius: 1rem;
  background: #308dff;
  box-shadow: 0 2px 5px rgba(48, 141, 255, 0.2);
  flex-shrink: 0;
  margin-left: 1.2rem;
}
.search__filter > i {
  background: url(../images/ico_filter.svg) no-repeat center;
  overflow: hidden;
  color: transparent;
  width: 2.1rem;
  display: inline-block;
}

.btn.small {
  height: 3.2rem;
  font-size: 1.2rem;
  padding-inline: 0.7rem;
  font-weight: 500;
}
.btn.base {
  height: 5rem;
  font-size: 1.7rem;
  padding-inline: 2rem;
  font-weight: 600;
}
.btn.lg {
  height: 6rem;
  font-size: 2rem;
  padding-inline: 2rem;
}
.btn.fullsize {
  width: 100%;
}

.btn.skyblue {
  background-color: rgba(0, 110, 255, 0.1);
  color: #185fa0;
}
.btn.blue {
  background-color: #246bfd;
  color: #fff;
}
.btnwhite {
  background-color: #677294;
  color: #fff;
}

.tab-type1 ul {
  padding: 1rem 0rem 0rem 0rem;
  display: flex;
  gap: 9px;
  margin-bottom: 1rem;
  border-radius: 5rem;
  padding: 0.9rem 1.8rem 0.9rem 0rem;
}
.tab-type1 li {
  flex: 1;
}
.tab-type1 button {
  color: #242424;
  background: #f4f6f9;
  border-radius: 5rem;
  padding: 0.9rem 1.8rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}
.tab-type1 button.--active {
  color: #fff;
  border-radius: 5rem;
  padding: 0.9rem 1.8rem;
  background: #246bfd;
}

.tab-type2 ul {
  display: flex;
}
.tab-type2 li {
  flex: 1;
}
.tab-type2 button {
  color: #303131;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem 1.5rem;
  width: 100%;
  line-height: 2.1rem;
  background-image: linear-gradient(to bottom, #d6e9fc, #d6e9fc);
  background-size: 100% 0.2rem;
  background-repeat: no-repeat;
  background-position: bottom;
}
.tab-type2 button.--active {
  background-image: linear-gradient(to bottom, #006eff, #006eff);
  font-weight: 700;
  color: #006eff;
}

.tab-type3 ul {
  display: flex;
  gap: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 5rem;
  padding: 0.9rem 1.8rem 0.9rem 0rem;
  overflow: auto;
}
.tab-type3 button {
  color: #314865;
  background: #f1f2f4;
  border-radius: 5rem;
  padding: 1.2rem 1.6rem 1.3rem 1.6rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}
.tab-type3 button.--active {
  color: #308dff;
  border-radius: 5rem;
  background: #e5f1ff;
}

.list-type1 {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin-top: 2rem;
  background: var(--white);
}
.list-type1 li {
  background: var(--white, #fff);
  border-radius: 1.017rem;
  box-shadow: 0 2px 4px rgba(0, 32, 96, 0.2);
}
.list-type1__content {
  padding: 0.8rem;
}

.list-info {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
.list-info p {
  font-size: 0.9rem;
  color: #0066ff;
}
.list-type3 .list-info p {
  font-size: 1.1rem;
}

.list-tit {
  font-size: 1.2rem;
  color: #2f2f2f;
}
.list-tit a {
  font-weight: 600;
}
.list-type3 .list-tit {
  font-size: 1.5rem;
}
.list-type3 .list-tit a {
  font-weight: 500;
  color: #2f2f2f;
}

.map {
  font-size: 0.7rem;
}
.list-type1 .map {
  color: #b9b9b9;
}
.list-type2 .map {
  color: #415770;
}
.list-type3 .map {
  color: #b9b9b9;
  font-size: 1.1rem;
  font-weight: 400;
}
.map::before {
  content: "";
  background: url(../images/ico_map.svg) no-repeat center;
  width: 0.8rem;
  height: 1.1rem;
  display: inline-block;
  position: relative;
  left: -0.3rem;
  top: 0.3rem;
}
.map__black {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.map__black::before {
  content: "";
  background: url(../images/ico_map2.svg) no-repeat center;
  width: 0.8rem;
  height: 1.1rem;
  display: inline-block;
  position: relative;
  left: 0;
  top: 0.3rem;
  margin-right: 0.3rem;
}

.thumbnail {
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  overflow: hidden;
  height: 10.5rem;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail__small {
  width: 8.8rem;
  height: 8.8rem;
}
.list-type3 .thumbnail {
  aspect-ratio: auto;
}

.list-type2__content {
  display: flex;
  gap: 1rem;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}
.list-type2 .list-type2__content {
  padding: 1rem;
}
.list-type2__thumbnail {
  border-radius: 1rem;
  height: 8.9rem;
  flex: 0;
}
.list-type2-box {
  flex: 1;
}
.list-type2-box .list-tit {
  color: #122d4d;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.list-type2 .list-catagory {
  display: flex;
  justify-content: space-between;
}
.list-type2__notiIcon {
  display: inline-flex;
  width: 5.8rem;
  height: 5.8rem;
  background: red; /*#f4f6f9;8*/
  border-radius: 10rem;
  text-align: center;
}
.list-type2__notiIcon img {
  width: 2.4rem;
  height: 2.4rem;
}
.list-type2 + .list-type2 {
  margin-bottom: 1rem;
}

.list-type3 {
  display: flex;
  gap: 1.8rem;
  overflow: auto;
}
.list-type3 li {
  flex: 1;
  background: var(--white, #fff);
  border-radius: 1.017rem;
  box-shadow: 0 2px 4px rgba(0, 32, 96, 0.2);
}

.shadow {
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem 0px rgba(0, 32, 96, 0.2);
  padding: 1rem;
  border-radius: 1.5rem;
}

.star {
  font-size: 1.2rem;
  color: #8997a9;
}
.star::before {
  content: "";
  background: url(../images/ico_star.svg) no-repeat center;
  width: 1.3rem;
  height: 1.3rem;
  display: inline-block;
  position: relative;
  left: -0.3rem;
  top: 0.2rem;
}

.catagory {
  background-color: #f4f6f9;
  color: #478ff1;
  font-size: 10px;
  font-weight: 500;
  line-height: 0.96rem;
  padding: 0.5rem 0.6rem;
}

.list-info {
  display: flex;
  justify-content: space-between;
  color: #122d4d;
}

.info {
  display: block;
  position: relative;
  font-size: 1.1rem;
}

.price {
  font-size: 1.1rem;
  font-weight: 600;
  color: #0066ff;
  font-size: 1.1rem;
}

.mask {
  display: inline;
  position: relative;
  margin-right: 1.2rem;
  line-height: 0.24rem;
  color: #122d4d;
}
.mask::before {
  content: "";
  background: url(../images/ico_mask.svg) no-repeat center;
  width: 1.2rem;
  height: 0.94rem;
  display: inline-block;
  position: relative;
  left: -0.3rem;
  top: 0.2rem;
}

.bed {
  display: inline;
  position: relative;
}
.bed::before {
  content: "";
  background: url(../images/ico_bed.svg) no-repeat center;
  width: 1.2rem;
  height: 0.94rem;
  display: inline-block;
  position: relative;
  left: -0.3rem;
  top: 0.2rem;
}

.search {
  display: flex;
  justify-content: space-between;
  height: 5.2rem;
  position: relative;
}
.search__bg {
  background: var(--white, #fff);
  border-radius: 10px;
  width: calc(100% - 5.2rem);
  padding-top: 0.5rem;
  box-shadow: 0 2px 5px rgba(61, 61, 61, 0.2);
  box-sizing: border-box;
  align-items: center;
}
.search__bg::before {
  content: "";
  background: url(../images/ico_search.svg) no-repeat center;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  left: 1.7rem;
}
.search__bg .input {
  padding-inline: 4rem 1rem;
  border: 0;
}

.heading.xxl {
  font-size: 2.5rem;
  font-weight: 600;
}
.heading.xl {
  font-size: 2rem;
  font-weight: 600;
}
.heading.lg {
  font-size: 1.8rem;
  font-weight: 600;
}
.heading.base {
  font-size: 1.5rem;
  font-weight: 600;
}

.input {
  height: 4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #5c5c5c;
  box-sizing: border-box;
  padding-inline: 1rem 1.5rem;
  color: #000;
  font-size: 1.3rem;
  line-height: 0.1rem;
}
.input::placeholder {
  color: #95a2b0;
}
.input:disabled {
  background: #f4f6f9;
  border: 0;
}
[readonly].input {
  background: rgba(244, 246, 249, 0.05);
}

fieldset legend {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.input {
  width: var(--w, 100%);
}

.date {
  display: flex;
  gap: 1.3rem;
}
.date > * {
  flex: 1;
}

.check-type1 {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.check-type1 + label {
  display: inline-flex;
  align-items: center;
  gap: 1.1rem;
  color: #677294;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
}
.check-type1 + label::before {
  background: url(../images/ico_bookmark_off.svg) no-repeat;
  content: "";
  width: 3.2rem;
  height: 3.3rem;
}
.check-type1:checked + label::before {
  background: url(../images/ico_bookmark_on.svg) no-repeat;
}

.table-type1 {
  margin-top: 1.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.table-type1 dl {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 1rem;
  line-height: 2rem;
}
.table-type1 dl dt {
  color: #677294;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -0.03rem;
  text-align: left;
}
.table-type1 dl dd {
  color: #122d4d;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: right;
}
.table-type1 .total {
  margin-top: 4rem;
}

.rounded5 {
  border-radius: 0.5rem;
}
.rounded50 {
  border-radius: 5rem;
}
.rounded55 {
  border-radius: 5.5rem;
}
.rounded60 {
  border-radius: 6rem;
}
.rounded-full {
  border-radius: 100rem;
}

.profile-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-type--title .tit {
  font-size: 1.8rem;
  font-weight: 400;
  color: #8997a9;
}
.profile-type--title .stit {
  font-size: 2rem;
  font-weight: 700;
  color: #122d4d;
}
.profile-type--user {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 3px 2px rgba(0, 32, 96, 0.1);
}
.profile-type--user img {
  width: 100%;
  border-radius: 100%;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-inline: 2rem;
  height: 4rem;
}
.header h1 {
  order: 2;
  justify-self: center;
  color: var(--blue, #122d4d);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.05rem;
}
.header__left {
  order: 1;
}
.header__right {
  justify-self: end;
  order: 3;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.align {
  display: flex;
}
.align.right {
  justify-content: flex-end;
}
.align.center {
  justify-content: center;
}
.align.both {
  justify-content: space-between;
}
.align.triple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.align.triple > :nth-child(1) {
  justify-self: start;
}
.align.triple > :nth-child(2) {
  justify-self: center;
}
.align.triple > :nth-child(3) {
  justify-self: end;
}
.align.vt {
  align-items: flex-start;
}
.align.vm {
  align-items: center;
}
.align.vb {
  align-items: flex-end;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.pd20 {
  padding: 0 2rem;
}

.mt10 {
  margin-top: 1rem;
}

.mt12 {
  margin-top: 1.2rem;
}

.mt16 {
  margin-top: 1.6rem;
}

.mt20 {
  margin-top: 2rem;
}

.mt24 {
  margin-top: 2.4rem;
}

.mt30 {
  margin-top: 3rem;
}

.mt32 {
  margin-top: 3.2rem;
}

.mt60 {
  margin-top: 6rem;
}

.mt75 {
  margin-top: 7.5rem;
}

.mx10 {
  margin-inline: 1rem;
}

.mx16 {
  margin-inline: 1.6rem;
}

.mx25 {
  margin-inline: 2.5rem;
}

.mx30 {
  margin-inline: 3rem;
}

.mx40 {
  margin-inline: 4rem;
}

.mx43 {
  margin-inline: 4.3rem;
}

.mx53 {
  margin-inline: 5.3rem;
}

.ml30 {
  margin-left: 3rem;
}

.splah_bg {
  display: block;
  background: url(../images/@img_hous_bg1.png) no-repeat left top;
  aspect-ratio: auto;
  background-size: 100%;
  height: 57.8rem;
}

.splah_bottom {
  position: fixed;
  width: 100%;
  bottom: 6rem;
  padding: 0 4rem;
  box-sizing: border-box;
}
.splah_bottom .logo {
  text-align: center;
}

.login-logo {
  text-align: center;
}

.input-type1 label {
  font-size: 1.4rem;
  font-weight: 500;
  color: #091130;
}
.input-type1 .input {
  border-radius: 0;
  margin-inline: 5rem;
  border: 0;
}

.inputbox {
  display: flex;
  padding-top: 0.3rem;
  height: 5rem;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 0.1rem solid #5c5c5c;
  position: relative;
}

.username::before {
  background: url(../images/ico_sign_user.svg) no-repeat center;
  content: "";
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 1.7rem;
  top: 1.3rem;
}

.password::before {
  background: url(../images/ico_sign_pw.svg) no-repeat center;
  content: "";
  display: inline-block;
  width: 2rem;
  height: 1.7rem;
  position: absolute;
  left: 1.7rem;
  top: 1.4rem;
}
.password .password_view {
  background: url(../images/ico_sign_view.svg) no-repeat center;
  width: 1.7rem;
  height: 1.4rem;
  position: absolute;
  right: 2.7rem;
  top: 1.8rem;
}

.sns-type {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sns-type--continue {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #616161;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}
.sns-type--continue::before {
  background: linear-gradient(270deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0) 94.39%);
  content: "";
  display: inline-block;
  width: 50%;
  height: 0.1rem;
}
.sns-type--continue::after {
  background: linear-gradient(90deg, rgba(97, 97, 97, 0.75) 0%, rgba(97, 97, 97, 0) 94.39%);
  content: "";
  display: inline-block;
  width: 50%;
  height: 0.1rem;
}
.sns-type ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.heading-type1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer ul {
  display: flex;
  align-items: center;
  gap: 6.3rem;
}
.footer li {
  width: 2rem;
  position: relative;
}
.footer li.on::before {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  background: #3c94ff;
  display: block;
  border-radius: 100%;
  bottom: 0.1rem;
  left: 0.7rem;
}
.footer button {
  width: 2.2rem;
  height: 3.3rem;
}
.footer nav {
  margin: 1.5rem 0 1.5rem;
}

/*# sourceMappingURL=style.css.map */
