@use "../abstracts/" as *;

$mt: (10, 12, 16, 20, 24, 30, 32, 60, 75);
$mx: (10, 16, 25, 40, 43);

.pd20 {
  padding: 0 rem(20);
}

@each $margin in $mt {
  .mt#{$margin} {
    margin-top: rem($margin);
  }
}
@each $margin in $mx {
  .mx#{$margin} {
    margin-inline: rem($margin);
  }
}
