@use "../abstracts/" as *;

$mt: (5, 10, 12, 15, 16, 20, 24, 30, 32, 60, 75);
$mx: (10, 20, 16, 25, 30, 40, 43, 53);
$ml: (30);
$mr: (10);
.pd20 {
  padding: 0 rem(20);
}

@each $margin in $mt {
  .mt#{$margin} {
    margin-top: rem($margin);
  }
}
@each $margin in $mx {
  .mx#{$margin} {
    margin-inline: rem($margin);
  }
}

@each $margin in $ml {
  .ml#{$margin} {
    margin-left: rem($margin);
  }
}
@each $margin in $mr {
  .mr#{$margin} {
    margin-right: rem($margin);
  }
}
