@use "../abstracts/" as *;

@use "sass:list";
//폼요소 공통 디자인 정의
$formSetting: (
  "height": rem(40),
  "borderRadius": rem(5),
  "borderColor": rem(1) solid $gray5c,
  "fontColor": $black,
  "bgColor": $white,
  "paddingInline": rem(10) rem(15),
  "fontSize": rem(13),
  "lineHeight": rem(1),
  "placehodlerColor": $gray95,
  "disabledBgColor": $grayf4,
  "readonlyBgColor": rgba($grayf4, 0.05),
);
//radio 디자인 정의
$radioSettings: (
  1: (
    "className": ".check-type1",
    "width": rem(32),
    "height": rem(33),
    "offImage": "ico_bookmark_off.svg",
    "onImage": "ico_bookmark_on.svg",
  ),
);

%form {
  height: map-get($formSetting, height);
  border-radius: map-get($formSetting, borderRadius);
  border: map-get($formSetting, borderColor);
  box-sizing: border-box;
  background-color: map-get($formSetting, bGcolor);
  padding-inline: map-get($formSetting, paddingInline);
  color: map-get($formSetting, fontColor);
  font-size: map-get($formSetting, fontSize);
  line-height: map-get($formSetting, lineHeight);
  letter-spacing: map-get($formSetting, letterSpacing);
  &::placeholder {
    color: map-get($formSetting, placehodlerColor);
  }
  &:disabled {
    background: map-get($formSetting, disabledBgColor);
    border: 0;
  }
  &[readonly] {
    background: map-get($formSetting, readonlyBgColor);
  }
}

fieldset {
  legend {
    @include a11y-hidden;
  }
}

%label {
  display: inline-flex;
  gap: rem(4);
  align-items: center;
  color: $gray6a;
  font-size: rem(12);
  line-height: 1;
  letter-spacing: rem(-0.5);
}

.input {
  @extend %form;
  width: var(--w, 100%);
}

.date {
  display: flex;
  gap: rem(13);
  > * {
    flex: 1;
  }
}
@mixin Radio($mapName, $index) {
  #{map-get($mapName, $index, className)} {
    @include a11y-hidden;
    + label {
      display: inline-flex;
      align-items: center;
      gap: rem(11);
      color: $gray67;
      font-size: rem(13);
      font-weight: 500;
      letter-spacing: rem(-0.3);
      &::before {
        @include background(map-get($radioSettings, $index, offImage));
        content: "";
        width: map-get($radioSettings, $index, width);
        height: map-get($radioSettings, $index, height);
      }
    }
    &:checked {
      + label {
        &::before {
          @include background(map-get($radioSettings, $index, onImage));
        }
      }
    }
  }
}
@for $idx from 1 through list.length($radioSettings) {
  @include Radio($radioSettings, $idx);
}
