@use "../abstracts/" as *;

$colorb9: #b9b9b9;
.list-type1 {
  display: grid;
  gap: rem(18);
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin-top: rem(20);
  background: var(--white);

  li {
    background: var(--white, #fff);
    border-radius: rem(10.17);
    box-shadow: 0 2px 4px rgba(0, 32, 96, 0.2);
  }
  &__content {
    padding: rem(8);
  }
}
.list-info {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  p {
    font-size: rem(9);
    color: $Fontblue;
  }
  .list-type3 & {
    p {
      font-size: rem(11);
    }
  }
}
.list-tit {
  font-size: rem(12);
  color: $black2f;
  a {
    font-weight: 600;
  }
  .list-type3 & {
    font-size: rem(15);

    a {
      font-weight: 500;
      color: $black2f;
    }
  }
  .list-type4 & {
    font-size: rem(20);
    font-weight: 600;
  }
}
.list-stit {
  font-size: rem(13);
  color: $gray8c;
  font-weight: 400;
}
.map {
  font-size: rem(7);

  .list-type1 & {
    color: $colorb9;
  }
  .list-type2 & {
    color: $gray41;
  }
  .list-type3 & {
    color: $grayb9;
    font-size: rem(11);
    font-weight: 400;
  }
  &::before {
    content: "";
    @include background("ico_map.svg", center);
    width: rem(8);
    height: rem(11);
    display: inline-block;
    position: relative;
    left: rem(-3);
    top: rem(3);
  }
  &__black {
    font-size: rem(10);
    font-weight: 500;
    margin-bottom: rem(7);
    &::before {
      content: "";
      @include background("ico_map2.svg", center);
      width: rem(8);
      height: rem(11);
      display: inline-block;
      position: relative;
      left: 0;
      top: rem(3);
      margin-right: rem(3);
    }
  }
  &__address {
    color: $black2A;
    font-size: rem(13);
    font-weight: 400;
    &::before {
      content: "";
      @include background("ico_map3.svg", center);
      width: rem(15);
      height: rem(19);
      display: inline-block;
      position: relative;
      left: 0;
      top: rem(1.3);
      margin-right: rem(5);
    }
  }
}

.thumbnail {
  border-radius: rem(15) rem(15) rem(0) rem(0);
  overflow: hidden;
  height: rem(105);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__small {
    @include img-size(small);
  }
  .list-type3 & {
    aspect-ratio: auto;
  }
}

.list-type2 {
  &__content {
    display: flex;
    gap: rem(10);
    background-color: $white;
    border-radius: rem(15);
    margin-bottom: rem(10);

    .list-type2 & {
      padding: rem(10);
    }
  }

  &__thumbnail {
    position: relative;
    border-radius: rem(10);
    height: rem(89);
    flex: 0;
  }

  &-box {
    flex: 1;
    .list-tit {
      color: $gray12;
      font-size: rem(17);
      font-weight: 600;
      margin-bottom: rem(7);
    }
  }
  .list-catagory {
    display: flex;
    justify-content: space-between;
  }
  &__notiIcon {
    display: inline-flex;
    width: rem(58);
    height: rem(58);
    background: red; /*#f4f6f9;8*/
    border-radius: rem(100);
    text-align: center;
    img {
      width: rem(24);
      height: rem(24);
    }
  }
  + .list-type2 {
    margin-bottom: rem(10);
  }
}
.list-type3 {
  display: flex;
  gap: rem(18);
  overflow: auto;
  li {
    flex: 1;
    background: var(--white, #fff);
    border-radius: rem(10.17);
    box-shadow: 0 2px 4px rgba(0, 32, 96, 0.2);
  }
}
.list-type4 {
  &__conetnt {
    border-radius: 0;
  }
  .list-catagory {
    display: flex;
    justify-content: space-between;
  }
}
.list-type5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(10);
  li {
    background: $white;
    border-radius: rem(12);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    > div {
      padding: rem(30) 0 rem(12);
    }
  }
  p {
    text-align: center;
  }
  .num {
    font-size: rem(11);
    font-weight: 500;
    color: $Fontblue;
  }
  .desc {
    font-size: rem(10);
    font-weight: 400;
    color: $gray6b;
  }
}

.list-type6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(15) rem(10);
  li {
    background: $white;
    border-radius: rem(12);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    padding-inline: rem(8);
    > div {
      padding: rem(30) 0 rem(12);
    }
  }
  p {
    text-align: center;
  }

  .desc {
    font-size: rem(10);
    font-weight: 500;
    color: $gray6b;
    @include ellipsis(1);
    margin-top: rem(7);
  }
}

.list-type7 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(5);
  li {
    background: $white;
    border-radius: rem(5);
    aspect-ratio: auto;
  }
  img {
    width: 100%;
  }
}
.list-type8 {
  background: $white;
  border-radius: rem(5);
  padding: rem(4);
  position: absolute;
  bottom: rem(10);
  left: -50%;
  transform: translate(-50%);
  ul {
    display: flex;
    justify-content: flex-start;
  }
  li {
    width: rem(55);
    height: rem(55);
  }
}
.shadow {
  background: $white;
  box-shadow: 0 rem(2) rem(4) 0px rgba(0, 32, 96, 0.2);
  padding: rem(10);
  border-radius: rem(15);
}
.star {
  font-size: rem(12);
  color: $grayf89;
  &::before {
    content: "";
    @include background("ico_star.svg", center);
    width: rem(13);
    height: rem(13);
    display: inline-block;
    position: relative;
    left: rem(-3);
    top: rem(2);
  }
}

.catagory {
  background-color: $grayf4;
  color: $secondary;
  font-size: 10px;
  font-weight: 500;
  line-height: rem(9.6);
  padding: rem(5) rem(6);
}

.list-info {
  display: flex;
  justify-content: space-between;
  color: $black12;
}
.info {
  display: block;
  position: relative;
  font-size: rem(11);
}
.total {
  color: $black2A;
  font-size: rem(14);
  font-weight: 600;
}
.price {
  font-size: rem(11);
  font-weight: 600;
  color: $Fontblue;
  font-size: rem(11);
  .btn-layout1 & {
    font-size: rem(25);
    font-weight: 500;
    span {
      color: $gray8c;
      font-size: rem(22);
    }
  }
}

.mask {
  display: inline;
  position: relative;
  margin-right: rem(12);
  line-height: rem(2.4);
  color: $black12;
  &::before {
    content: "";
    @include background("ico_mask.svg", center);
    width: rem(12);
    height: rem(9.4);
    display: inline-block;
    position: relative;
    left: rem(-3);
    top: rem(2);
  }
}
.bed {
  display: inline;
  position: relative;
  &::before {
    content: "";
    @include background("ico_bed.svg", center);
    width: rem(12);
    height: rem(9.4);
    display: inline-block;
    position: relative;
    left: rem(-3);
    top: rem(2);
  }
}
.ico1 {
  @include background("ico_product1.svg", center);
  background-position: center rem(10);
}
.ico2 {
  @include background("ico_product2.svg", center);
  background-position: center rem(10);
}
.ico3 {
  @include background("ico_product3.svg", center);
  background-position: center rem(10);
}
.ico4 {
  @include background("ico_product4.svg", center);
  background-position: center rem(10);
}
.ico5 {
  @include background("ico_product5.svg", center);
  background-position: center rem(10);
}
.ico6 {
  @include background("ico_product6.svg", center);
  background-position: center rem(10);
}
.ico7 {
  @include background("ico_product7.svg", center);
  background-position: center rem(10);
}
.ico8 {
  @include background("ico_product8.svg", center);
  background-position: center rem(10);
}
.ico9 {
  @include background("ico_product9.svg", center);
  background-position: center rem(10);
}
.ico10 {
  @include background("ico_product10.svg", center);
  background-position: center rem(10);
}
.ico11 {
  @include background("ico_product11.svg", center);
  background-position: center rem(10);
}
.ico12 {
  @include background("ico_product12.svg", center);
  background-position: center rem(10);
}
.img_like {
  display: block;
  position: absolute;
  top: rem(5);
  right: rem(5);
}
