@use "../abstracts/" as *;

.profile-type1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--title {
    .tit {
      font-size: rem(18);
      font-weight: 400;
      color: $grayf89;
    }
    .stit {
      font-size: rem(20);
      font-weight: 700;
      color: $black12;
    }
  }
  &--user {
    width: rem(50);
    height: rem(50);
    border-radius: 100%;

    overflow: hidden;
    box-shadow: 0px 3px 2px rgba(0, 32, 96, 0.1);
    img {
      width: 100%;
      border-radius: 100%;
    }
  }
}

.profile-type2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--profile {
    display: flex;
    align-items: center;
  }
  &--content {
    display: flex;
    gap: rem(10);
  }
}
.profile_img {
  background: $white;
  border-radius: rem(90);
  width: rem(45);
  height: rem(45);
  img {
    width: 100%;
    border-radius: rem(90);
  }
}
.profile_info {
  margin-left: rem(10);
}
.name {
  font-size: rem(13);
  font-weight: 600;
  color: $black2A;
}
