@use "../abstracts/" as *;

.search {
  display: flex;
  justify-content: space-between;
  height: rem(52);

  &__bg {
    background: var(--white, #fff);
    border-radius: 10px;
    padding: rem(13);
    width: calc(100% - rem(52));
    box-shadow: 0 2px 5px rgba(61, 61, 61, 0.2);
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    &::before {
      content: "";
      @include background("ico_search.svg", center);
      width: rem(20);
      height: rem(20);
      display: inline-block;
      position: absolute;
    }
  }

  &__input {
    margin-left: rem(20);
    input {
      height: rem(25);
      padding: rem(0) rem(10);
      border: 0;
      background-color: #fff;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
