@use "../abstracts/" as *;

.search {
  display: flex;
  justify-content: space-between;
  height: rem(52);
  position: relative;

  &__bg {
    background: var(--white, #fff);
    border-radius: 10px;
    width: calc(100% - rem(52));
    padding-top: rem(5);
    box-shadow: 0 2px 5px rgba(61, 61, 61, 0.2);
    box-sizing: border-box;
    align-items: center;
    &::before {
      content: "";
      @include background("ico_search.svg", center);
      width: rem(20);
      height: rem(20);
      display: inline-block;
      position: absolute;
      top: rem(15);
      left: rem(17);
    }
    .input {
      padding-inline: rem(40) rem(10);
      border: 0;
    }
  }
}
