@use "../abstracts/" as *;

.heading {
  &.xxl {
    font-size: rem(25);
    font-weight: 600;
  }
  &.xl {
    font-size: rem(20);
    font-weight: 600;
  }
  &.base {
    font-size: rem(15);
    font-weight: 600;
  }
}
