$imgurl: "../images/";

$eng: "Poppins", sans-serif;

/* Colors */
$button: linear-gradient(267.61deg, rgba(119, 8, 190, 1) 37.75198459625244%, rgba(0, 0, 234, 1) 68.48435401916504%);
$grayscale-title-active: #222222;
$grayscale-body: #333333;
$grayscale-label: #555555;
$grayscale-placehoder: #888888;
$grayscale-line: #dcdcdc;
$grayscale-input-bg: #f0f0f0;
$grayscale-background: #f8f8f8;
$grayscale-off-white: #fcfcfc;
$primary-default: #002ef1;
$primary-dark: #0000ea;
$primary-dark-mode: #005cff;
$secondery-default: #ffb802;
$secondery-dark: #ff9700;
$secondery-dark-mode: #ffe604;
$error-default: #fe3f61;
$error-dark: #fd0025;
$error-dark-mode: #ff7e86;
$success-default: #009846;
$success-dark: #02971c;
$success-darkmode: #36ea88;
$warning-default: #ff6711;
$warning-dark: #eb3800;
$warning-darkmode: #ff9922;
$gradient-primary: linear-gradient(108.08deg, rgba(0, 0, 235, 1) 0%, rgba(0, 75, 251, 1) 86.51434779167175%);
$gradient-secondery: linear-gradient(108.08deg, rgba(255, 156, 0, 1) 0%, rgba(255, 219, 3, 1) 100%);
$gradient-accent: linear-gradient(114.44deg, rgba(0, 56, 245, 1) 0%, rgba(159, 3, 255, 1) 100%);
$gradient-black: linear-gradient(90deg, rgba(67, 67, 67, 1) 0%, rgba(0, 0, 0, 1) 100%);

$button-blue: #308dff;
$black2f: #2f2f2f;
$black24: #242424;
$black12: #122d4d;
$black00: #000929;

$white: #fff;
$black: #000;
$grayf4: #f4f6f9;
$gray5c: #5c5c5c;
$gray6a: #6a6a6a;
$gray95: #95a2b0;
$gray12: #122d4d;

$grayf89: #8997a9;
$gray30: #303131;
$gray41: #415770;

$gray67: #677294;

$Fontblue: #0066ff;
$secondary: #478ff1;
$primary: #246bfd;
$onColor: #006eff;
$offColor: #d6e9fc;
